.products_card {
  padding: 18px 16px 11px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1380px;
  margin: 19px auto;
}
.products_card img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  display: flex;
}
.products_card a {
  text-decoration: none;
}
.image button {
  position:absolute;
  bottom: 32px;
  color: #339933;
  border: 2px solid #339933;
  background-color: #f1fff1;
  border-radius: 21px;
  line-height: 130%;
  width: 279px;
  height: 72px;
  cursor: pointer;
  display: none;
  
}
.image{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.image:hover button {
  display: block;
}
.price_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.discont_price {
  font-size: 30px;
  font-weight: 600;
  line-height: 130%;
  color: black;
  text-decoration: none;
}
.price {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  color: #8b8b8b;
}
.discount {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  color: #ff32a1;
}
.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: #3a3a3a;
}

.image{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}