.sort_section {
  display: flex;
  align-items: center;
}
 

.sort_section span {
  margin-right: 15px;
  font-weight: 700;
}

.sort_select{
  margin: 15px;
  height: 40px;
  width: 220px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  line-height: 130%;

}
.search {
  display: flex;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0, 03em;
  color: black;
}

.search_price {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.search_price  button{
  margin: 15px;
  height: 42px;
  width: 103px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 20px;
  color: gray;
  line-height: 130%;
}

.search_price input {
  margin: 15px;
  height: 42px;
  width: 103px;
  border: 1px solid #000000;
  border-radius: 7px;
  padding: 20px;
  
  
}

.search_discount {
  margin-left: 40px;
  display: flex;
  align-items: center;
}
.search_discount input {
  margin: 15px;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 7px;
}
